In [1]:
from lxml import etree
import pandas as pd
from uuid import uuid4

In [2]:
# Limit number of rows in dataframe display
pd.options.display.max_rows = 10

In [3]:
doc = etree.parse('list.xml')

### Build Taxon table

In [4]:
def getTaxonRank(scientificName):
    word_count = len(scientificName.split(' '))
    if word_count == 1:
        return('genus')
    else:
        return('species')

In [5]:
taxon_list = []
for section in doc.iterfind('section'):
    scientificName = section.findtext('crop/sci')
    taxonRank = getTaxonRank(scientificName)
    taxon_list.append({'kingdom':'Viridiplantae',
                       'scientificName': scientificName,
                       'taxonRank': taxonRank
                      })
    for pest in section.iterfind('pest'):
        scientificName = pest.findtext('sci')
        taxonRank = getTaxonRank(scientificName)
        taxon_list.append({'kingdom':'Animalia',
                           'scientificName': scientificName,
                           'taxonRank': taxonRank
                          })
df_taxon = pd.DataFrame(taxon_list)
df_taxon = df_taxon.drop_duplicates()

In [6]:
'''
kingdom: kingdom - col 0
scientificName: scientificName - col 1
taxonRank: taxonRank - col 2
ID: ID col 3
'''

if not ('ID' in df_taxon.columns):
    df_taxon['ID'] = None
    for index, row in df_taxon.iterrows():
        row['ID'] = uuid4().hex
else:
    print('ID column already exists')
df_taxon

,kingdom,scientificName,taxonRank,ID
0,Viridiplantae,Agave sisalana,species,4af81eddb5ef4627b3ae5cb8ed017118
1,Animalia,Aonidiella orientalis,species,b8c21c829e86481b9f0d47cc60f07b85
2,Animalia,Dysmicoccus neobrevipes,species,c53a4fb3623a4220ab6d59aa98ed360f
3,Viridiplantae,Persea americana,species,18036abee90e49d0bfdf776ce8e1071f
4,Animalia,Trigonops,genus,6fee282d159d4be2bcab89f4208de7b6
...,...,...,...,...
981,Animalia,Anua coronata,species,77ea2e1e6f204543aab4b4b8946e168a
983,Viridiplantae,Psophocarpus tetragonalubus,species,86b3ca1304b244edb41fa00596c9a777
984,Animalia,Tetranychus neocaledonicus,species,f7017fb6936a48ccb62f08becb884c8f
986,Viridiplantae,Dioscorea,genus,7539e9a0a72241d2ac5c9b7173101c84
993,Animalia,Theretra nessus,species,5be8a2d99d194276a537fc10b4593fcc

In [7]:
def get_ID(scientificName):
    ''' Returns the ID associated with a scintificName in the taxon table.'''
    x = df_taxon[df_taxon['scientificName'] == scientificName]['ID']
    return(x.values[0])

get_ID('Badamia exclamationis')

'367c4984aa624cf18e2d174e47b40115'

### Build Distribution Table

Island records are encoded as follows:

List of insects and mites attacking crops in the Caroline (Belau-B, Yap-Y, Truk-T, Pohnpei-Po, Kosrae-K) and Mariana Islands (Guam-G, Saipan-S, Rota-R, and Commonwealth of Northern Marianas-C). New island records are indicated by n. Y indicates confirmation of a species previously reported as maybe present or needs verification. A ? indicates that the species may be there but its presence has not been verified with absolute certainty.

In [8]:
# This dictionary decodes island codes.

island_dict = {
    'M=?':[{'i':'Mariana Islands','n':False}],
    'M=C':[{'i':'Saipan','n':False},{'i':'Tinian','n':False},{'i':'Rota','n':False}],
    'M=G':[{'i':'Guam','n':False}],
    'M=RG':[{'i':'Guam','n':False},{'i':'Rota','n':False}],
    'M=S':[{'i':'Saipan','n':False}],
    'M=n':[{'i':'Saipan','n':True},{'i':'Tinian','n':True},{'i':'Rota','n':True},{'i':'Guam','n':True}],
    'M=x':[{'i':'Saipan','n':False},{'i':'Tinian','n':False},{'i':'Rota','n':False},{'i':'Guam','n':False}],
    'B=?':[{'i':'Republic of Palau','n':False}],
    'B=n':[{'i':'Republic of Palau','n':True}],
    'B=x':[{'i':'Republic of Palau','n':False}],
    'K=?':[{'i':'Kosrae State','n':False}],
    'K=n':[{'i':'Kosrae State','n':True}],
    'K=x':[{'i':'Kosrae State','n':False}], 
    'P=?':[{'i':'Pohnpei State','n':False}],
    'P=n':[{'i':'Pohnpei State','n':True}],
    'P=x':[{'i':'Pohnpei State','n':False}],
    'T=?':[{'i':'Chuuk State','n':False}],
    'T=Y':[{'i':'Chuuk State','n':False}],
    'T=n':[{'i':'Chuuk State','n':True}],
    'T=x':[{'i':'Chuuk State','n':False}],
    'Y=?':[{'i':'Yap State','n':False}],
    'Y=n':[{'i':'Yap State','n':True}],
    'Y=x':[{'i':'Yap State','n':False}],
} 

island_code = 'M=x'
mylist = island_dict[island_code]
for item in mylist: 
    print('{}: new_island_record={}'.format(item['i'], item['n']))

Saipan: new_island_record=False
Tinian: new_island_record=False
Rota: new_island_record=False
Guam: new_island_record=False

In [9]:
'''
ID: Core ID - col 0
island: locality - col 1
new_island_record: occurrenceRemarks - col 2
scientificName: skip - col 3
'''

dist_list = []
for section in doc.iterfind('section'):
    for pest in section.iterfind('pest'):
        scientificName = pest.findtext('sci')
        island_codes = pest.findall('island')
        for island_code in island_codes:
            island_list = island_dict[island_code.text]
            for item in island_list:
                if item['n']:
                    new_island_record = 'new island record'
                else:
                    new_island_record = ''
                dist_list.append({'scientificName': scientificName, 
                                  'island': item['i'],
                                  'new_island_record': new_island_record,
                                  'ID': get_ID(scientificName)
                             })
df_dist = pd.DataFrame(dist_list)
df_dist = df_dist.drop_duplicates()
df_dist

,ID,island,new_island_record,scientificName
0,b8c21c829e86481b9f0d47cc60f07b85,Yap State,,Aonidiella orientalis
1,b8c21c829e86481b9f0d47cc60f07b85,Saipan,,Aonidiella orientalis
2,b8c21c829e86481b9f0d47cc60f07b85,Tinian,,Aonidiella orientalis
3,b8c21c829e86481b9f0d47cc60f07b85,Rota,,Aonidiella orientalis
4,b8c21c829e86481b9f0d47cc60f07b85,Guam,,Aonidiella orientalis
...,...,...,...,...
4575,77ea2e1e6f204543aab4b4b8946e168a,Guam,,Anua coronata
4584,f7017fb6936a48ccb62f08becb884c8f,Guam,,Tetranychus neocaledonicus
4634,5be8a2d99d194276a537fc10b4593fcc,Republic of Palau,,Theretra nessus
4635,5be8a2d99d194276a537fc10b4593fcc,Yap State,,Theretra nessus
4636,5be8a2d99d194276a537fc10b4593fcc,Chuuk State,,Theretra nessus

### Build Vernacular table

In [10]:
'''
ID: Core ID - col 0
scientificName: skip - col 1
vernacular: vernacularName - col 2
'''

vernacular_list = []
for section in doc.iterfind('section'):
    scientificName = section.findtext('crop/sci')
    common_names = section.findall('crop/com')
    for common_name in common_names:
        vernacular_list.append({'scientificName': scientificName, 
                                'vernacular': common_name.text,
                                'ID': get_ID(scientificName)
                               })    
        for pest in section.iterfind('pest'):
            scientificName = pest.findtext('sci')
            common_names = pest.findall('com')
            for common_name in common_names:
                vernacular_list.append({'scientificName': scientificName,
                                        'vernacular': common_name.text,
                                        'ID': get_ID(scientificName)
                                       })    
df_vernacular = pd.DataFrame(vernacular_list)
df_vernacular = df_vernacular.drop_duplicates()
df_vernacular

,ID,scientificName,vernacular
0,4af81eddb5ef4627b3ae5cb8ed017118,Agave sisalana,Agave
1,b8c21c829e86481b9f0d47cc60f07b85,Aonidiella orientalis,oriental scale
2,c53a4fb3623a4220ab6d59aa98ed360f,Dysmicoccus neobrevipes,grey pineapple mealybug
3,18036abee90e49d0bfdf776ce8e1071f,Persea americana,Avocado
4,6fee282d159d4be2bcab89f4208de7b6,Trigonops,weevil
...,...,...,...
1121,77ea2e1e6f204543aab4b4b8946e168a,Anua coronata,moth
1123,86b3ca1304b244edb41fa00596c9a777,Psophocarpus tetragonalubus,Wing bean
1124,f7017fb6936a48ccb62f08becb884c8f,Tetranychus neocaledonicus,vegetable mite
1126,7539e9a0a72241d2ac5c9b7173101c84,Dioscorea,Yams
1133,5be8a2d99d194276a537fc10b4593fcc,Theretra nessus,yam hawk moth

### Build ecological associates table

Note that this table has to be searched twice to discover all interactions for a taxon.

In [11]:
'''
sciNameID: Core ID - col 4
sciName: skip - col 3
associateSciName: scientificName - col 0
associateSciNameID: relatedResourceID - col 1
relationshipOfAssociate: relationsipOfResource - col 2
'''

associates_list = []
for section in doc.iterfind('section'):
    scientificName1 = section.findtext('crop/sci')
    for pest in section.iterfind('pest'):
        scientificName2 = pest.findtext('sci')
        associates_list.append({'sciNameID': get_ID(scientificName1),
                                'sciName': scientificName1, 
                                'associateSciNameID': get_ID(scientificName2),
                                'associateSciName': scientificName2,
                                'relationshipOfAssociate': 'herbivore of',
                               })
        associates_list.append({'sciNameID': get_ID(scientificName2),
                                'sciName': scientificName2, 
                                'associateSciNameID': get_ID(scientificName1),
                                'associateSciName': scientificName1,
                                'relationshipOfAssociate': 'host plant of'
                               })

df_associates = pd.DataFrame(associates_list)
df_associates = df_associates.drop_duplicates()
df_associates

,associateSciName,associateSciNameID,relationshipOfAssociate,sciName,sciNameID
0,Aonidiella orientalis,b8c21c829e86481b9f0d47cc60f07b85,herbivore of,Agave sisalana,4af81eddb5ef4627b3ae5cb8ed017118
1,Agave sisalana,4af81eddb5ef4627b3ae5cb8ed017118,host plant of,Aonidiella orientalis,b8c21c829e86481b9f0d47cc60f07b85
2,Dysmicoccus neobrevipes,c53a4fb3623a4220ab6d59aa98ed360f,herbivore of,Agave sisalana,4af81eddb5ef4627b3ae5cb8ed017118
3,Agave sisalana,4af81eddb5ef4627b3ae5cb8ed017118,host plant of,Dysmicoccus neobrevipes,c53a4fb3623a4220ab6d59aa98ed360f
4,Trigonops,6fee282d159d4be2bcab89f4208de7b6,herbivore of,Persea americana,18036abee90e49d0bfdf776ce8e1071f
...,...,...,...,...,...
1893,Dioscorea,7539e9a0a72241d2ac5c9b7173101c84,host plant of,Diaphania hyalinata,3bb6eac0b8aa42159c1f073a8ad8faa3
1894,Adoxophyes melia,ddca0189e3934de7b88313d735c8ac55,herbivore of,Dioscorea,7539e9a0a72241d2ac5c9b7173101c84
1895,Dioscorea,7539e9a0a72241d2ac5c9b7173101c84,host plant of,Adoxophyes melia,ddca0189e3934de7b88313d735c8ac55
1896,Spodoptera litura,b313d39e38e7419191772727184fbe86,herbivore of,Dioscorea,7539e9a0a72241d2ac5c9b7173101c84
1897,Dioscorea,7539e9a0a72241d2ac5c9b7173101c84,host plant of,Spodoptera litura,b313d39e38e7419191772727184fbe86

In [12]:
import os

if not os.path.exists('dwca'):
    os.makedirs('dwca')
df_taxon.to_csv('dwca/taxon.csv', index=False)
df_dist.to_csv('dwca/distribution.csv', index=False)
df_vernacular.to_csv('dwca/vernacular.csv', index=False)
df_associates.to_csv('dwca/associates.csv', index=False)

In [13]:
# Hack to remove qouble quotes from vernacular.csv
#str = open('dwca/vernacular.csv', 'rt').read()
#str = str.replace('"', '')
#open("dwca/vernacular.csv", "wt").write(str)